<div class="album-container">
  <h1>New Releases</h1>
    <% unless @album_releases.empty? %>
      <% latest_date = @album_releases.first.release_date + 1 %>
      <% @album_releases.each do |album| %>
        <% if album.release_date < latest_date %>
          <% latest_date = album.release_date %>
          <% new_date = true %>
          <div class="date-with-card">
            <div class="feed-date">
              <p class="feed-month text-left"><%= "#{Date::ABBR_MONTHNAMES[latest_date.month]}" %></p>
              <p class="feed-day"><%= "#{latest_date.day}" %></p>
            </div>
        <% end %>
        <%= render 'components/album_card', album: album %>
        <% if new_date %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h3 class="no-feed-message">No new releases...go ahead and <%= link_to "follow some more artists!", artists_path %></h3>
    <% end %>
</div>

