<div class="album-container">
  <h1>New Releases</h1>
  <% unless @album_releases.empty? %>
    <% latest_date = @album_releases.first.release_date + 1 %>
    <% @album_releases.each do |album| %>
      <% if album.release_date < latest_date %>
        <% latest_date = album.release_date %>
        <h1><%= "#{Date::MONTHNAMES[latest_date.month]} #{latest_date.day}"  %></h1>
      <% end %>
      <%= render 'components/album_card', album: album %>
    <% end %>
  <% else %>
    <h3>No new releases...go ahead and favorite some more artists!</h3>
  <% end %>
</div>

