<%= album.title %>
<div class="album-card">
  <div class="album-cover">
  </div>
  <div class="album-details">
    <div class="album-details-top">
    </div>
    <div class="album-details-bottom">
      <div class="album-type">
      </div>
      <div class="release-date">
      </div>
    </div>
  </div>
</div>
