<div class="card mb-3 text-white bg-info rounded-lg shadow">
  <%= image_tag artist.image_url, alt: "Artist Image", class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= artist.name %></h5>
  </div>
    <div class="card-footer bg-transparent">
      <small class="btn btn-light rounded">❤️ Follow</small>
    </div>
</div>
