<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/maalba/releasy"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Hello from Hillel and Matt 👋
  </div>
</div>
