// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

// Define fonts for body and headers
$title-font: "Merriweather";
$body-font: "Open Sans";

@mixin title-font {
  font-family: $title-font;
  font-weight: bold;
  font-size: 34px;
}

@mixin body-font {
  font-family: $body-font;
  font-weight: normal;
  font-size: 13px;
}

@mixin subheader-font {
  font-family: $body-font;
  font-weight: normal;
  font-size: 24px;
}

@mixin card-title-font {
  font-family: $body-font;
  font-weight: bold;
  font-size: 25px;
}

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
