<h1>Artists</h1>

<div class="container">
  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-sm">
        <%= render 'components/artist_card', artist: artist %>
      </div>
    <% end %>
  </div>
</div>
