<h1>Artists</h1>



<div class="container artists-find" data-controller="filter">
  <div class="search mt-3">
    <%= render "components/search" %>
  </div>
  <div class="artist-cards row">
    <% @artists.each do |artist| %>
      <div class="col-sm">
        <%= render 'components/artist_card', artist: artist %>
      </div>
    <% end %>
  </div>
</div>
