h3 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  display: inline;
  vertical-align: middle;
}

.title-container {
  margin-top: 35px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn {
    margin: 0;
  }
}

