<div class="container">
  <div class="title-container" data-controller="loading">
    <h3>These are some of your favorite artists, choose which ones to follow!</h3>
    <div class="buttons">
      <%= link_to "Follow all", add_from_spotify_path( favorites: @spotify_ids ), method: :post, class: "btn btn-outline mx-3", data: { action: "click->loading#followSpinner", loading_target: 'follow' } %>
      <%= link_to "Done", feed_path, class: "btn btn-filled mx-3", data: { action: "click->loading#doneSpinner", loading_target: 'done' } %>
    </div>
  </div>

  <div class="artist-cards row">
    <% @spotify_favorites.each do |artist| %>
      <div class="col-md-4">
        <% if Artist.find_by_name(artist.name) == nil %>
            <%= render "components/spotify_artist_card", artist: artist, user: current_user %>
        <% else %>
          <% db_artist = Artist.find_by_name(artist.name) %>
          <%= render 'components/artist_card', artist: db_artist, user: current_user %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
