<div class="container artists-find" data-controller="filter">
  <div class="search my-5">
    <%= render "components/search", placeholder_text: "Find an artist you're following..." %>
  </div>

  <div class="artist-cards row">
    <% @followed_artists.each do |artist| %>
      <div class="col-sm">
        <%= render 'components/artist_card', artist: artist, user: current_user %>
      </div>
    <% end %>
  </div>
</div>
