.album-card {
  position: relative;
  display: flex;
  width: 450px;
  height: auto;
  margin: 0 auto 20px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.92);

  &:hover {
    .album-link {
      opacity: 100%;
      transition:opacity 0.5s;
    }
  }

  .album-link {
    opacity: 0%;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 8px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 125px;
    text-align: center;
    font-size: 0.75rem;
    color: rgb(28, 228, 28);

    &:hover {
      text-decoration: none;
    }

    i {
      border-radius: 50%;
    }
  }
}

.album-cover img {
  height: 125px;
  object-fit: contain;
  border-radius: 2px 0px 0px 2px;
}

.album-details {
  margin-left: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.album-title {
  font-family: $title-font;
  font-weight: normal;
  font-size: 17px;
  display: block;
}

.album-subtitle {
  font-family: $title-font;
  font-weight: normal;
  font-size: 12px;
}

.album-details-bottom {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}
