.card-details {
  display: flex;
}

.card-new {
  width: 100%;
  height: 350px;
  margin-bottom: 50px;
  position: relative;
  border-radius: 2px;
  background-size: cover;
}

.card-new-title {
  color: rgba(0,0,0,0.7);
  @include card-title-font;
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  text-shadow: none;
  flex-grow: 1;
}

// .heart-background {
//   height: 40px;
//   width: 40px;
//   position: absolute;
//   border-radius: 50px;
//   background-color: white;
//   top: -5px;
//   left: -5px;
//   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

.heart {
  // top: 55%;
  // transform: translateY(-50%);
  // left: 20%;
  color: #EE6666;
  margin-left: 5px;

  :hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #EE6666;
  }
  i {
    font-size: 1.2rem;
  }
}


.filter--notFound {
  display: none;
}

.spotify-sign-in {
  position: sticky;
}
