.navbar {
  justify-content: space-between;
  background-color: $mint-filling;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  & .nav-item {
    @include subheader-font;


    & a {
      color: rgba(0,0,0,0.6);
    }

    & a:hover {
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }
  }
  & .dropdown-menu {
    background-color: white;

    & a {
      color: black;
    }
  }
  & .active a {
    // text-decoration: underline;
    // padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {

  img {
    width: 40px;
    background-color: white;
    border: 2px solid black;
    padding: 4px;
  }
}
